In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from functools import reduce

In [2]:
user_data = pd.read_csv("train/user_data.csv")
train_submissions = pd.read_csv("train/train_submissions.csv")

In [3]:
#two types of clustering used below(run only one of below two blocks)

In [4]:
#only using the rating of user
no_of_clusters = 10
init_clusters = np.asarray([[i*100] for i in range(1, 1+no_of_clusters)])
x_train = [[i] for i in user_data['rating']]
kmeans = KMeans(n_clusters=no_of_clusters, init=init_clusters).fit(x_train)

C:\Anaconda\lib\site-packages\sklearn\cluster\k_means_.py:896: RuntimeWarning: Explicit initial center position passed: performing only one init in k-means instead of n_init=10
  return_n_iter=True)

In [6]:
user_data['cluster'] = (kmeans.labels_)

In [7]:
kmeans.cluster_centers_
#just to know the cluster centres of formed clusters

array([[ 265.87259895,   51.54797601],
       [ 496.18670732, 1116.58536585],
       [ 452.74735248,  287.94516971],
       [ 562.17961765, 1687.97058824],
       [ 455.06861261,  773.13063063],
       [ 401.96385231,   96.33096085],
       [ 789.278     , 4476.        ],
       [ 403.91007278,  500.25067385],
       [ 580.84872222, 2336.83333333],
       [ 294.82947419,  238.94263862]])

In [8]:
user_data.head()

,user_id,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds,cluster
0,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436,0
1,user_3028,63,52,0,India,17,1498998165,405.677,339.450,intermediate,1441893325,0
2,user_2268,226,203,-8,Egypt,24,1505566052,307.339,284.404,beginner,1454267603,9
3,user_480,611,490,1,Ukraine,94,1505257499,525.803,471.330,advanced,1350720417,7
4,user_650,504,479,12,Russia,4,1496613433,548.739,486.525,advanced,1395560498,7

In [9]:
problem_pred = [[] for _ in range(no_of_clusters)]
for index, row in user_data.iterrows():
    problem_pred[row[-1]].append(((train_submissions.loc[train_submissions['user_id'] == row[0]])['problem_id']).tolist())

In [10]:
for ii, i in enumerate(problem_pred):
    problem_pred[ii] = reduce(lambda x,y : x+y , i)

In [11]:
#user_query = input('enter user id :')
user_query = 'user_'+input('user id(number) : ')
k = int(input('number of problem recomendations required : '))
user_query_cluster = user_data.loc[user_data['user_id'] == user_query, 'cluster']
user_query_cluster = [i for i in user_query_cluster][0]
user_query_rated = train_submissions.loc[train_submissions['user_id'] == user_query]['problem_id']
user_query_prediction = []
for i in problem_pred[user_query_cluster]:
    if i not in user_query_rated:
        user_query_prediction.append(i)
    
print('\nrecomended problems')
print(user_query_prediction[: k])

user id(number) : 3311
number of problem recomendations required : 5

recomended problems
['prob_75', 'prob_1481', 'prob_3474', 'prob_334', 'prob_3508']